
@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/736x/ac/25/61/ac2561cfdfdfce43f1f60e26fe90e2c6.jpg');
  background-size: cover;
  background-position: center;
}

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}